.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.body{
    max-width: 1440px;
    margin: 30px 150px 0 150px;
}
.section-heading{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.section-description{
    font-size: 22px;
    color: #414040;
}
.margin-bottom{
    margin-bottom: 120px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-primary{
    background-color: #E95A08;
    padding: 26px 50px;
    border: none;
    margin-bottom: 30px;
    color: aliceblue;
    font-weight: bold;
    width: 270px;
}
/* nav style */
nav{
    margin: 22px 0;
}
.nav ul{
    display: flex;
    flex-direction: row;
}
.nav ul li{
    list-style: none;
    margin-right: 40px;
}

.nav ul li a{
    text-decoration: none;
    color: #141414;
}
/* section-1 */
.section-1{
    display: flex;
}
.section-heading-1{
    font-size: 65px;
    font-weight: bold;
}
.span{
    color: #E95A08;
}
/* section-2 */
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2-description{
    margin: 16px 126px 50px 126px;
    align-items: center;
    margin-bottom: 50px;
}
.center-line{
    display: block;
    text-align: center;
}
/* section-2-cards */
.section-2-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0;
}
.card-description{
    text-align: center;
    width: calc((100% - 40px));
}
/* section-3 */
.section-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* section-3-container */
.section-3-description{
    margin-bottom: 30px;
}
/* image-badge-container */
.box{
    position: relative;
}
.best-badge img{
    height: 200px;
    width: 200px;
}
.best-badge{
   position: absolute;
   top: -100px;
   left: 410px;
}
/* section-5 */
.section-5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}
.section-5-images{
    border-radius: 10px;
}
.image-1{
    margin-bottom: 25px;
}
/* section-6 */
.section-6{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-6-container{
    padding: 200px 305px 200px 305px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-6-h1{
    padding: 0px 122px 23px 122px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
}
.form{
    display: inline;
    width: 100%;
    margin:0 60px ;
}
input:hover{
   border: none; 
}
.form input{
border: none;
background-color:white ;
display: inline;
width: 50%;
padding: 20px;
}
.form input[type="submit"]{
    background-color: #E95A08;
    padding: 20px;
    border: none;
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    display: inline;
}
/* @import screen and (max-width: 393px){

} */



